{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}

    {% if validlink %}
        <p>{% trans "Изменить пароль"  %}</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "Новый пароль"%}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "Повторите пароль"%}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>

                    <td><input type="submit" value="OK" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "Не удалось сбросить пароль."%}</h1>
        <p>{% trans "Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля."%}</p>
    {% endif %}

{% endblock %}
