
{% extends "base_generic.html" %}

{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Блог" "blogapp:home" %}
    {% breadcrumb "Личный кабинет" "accounts:profile" user.pk %}
    {% breadcrumb "Удалить аккаунт" "accounts:delete" user.pk %}
{% endblock %}
{% render_breadcrumbs %}
<h1>Удалить аккаунт</h1>

<p>Вы уверены,что хотите удалить аккаунт: {{ object }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Удалить." />
</form>

{% endblock %}