{% extends "base_generic.html" %}

{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Блог" "blogapp:home" %}
    {% breadcrumb "Личный кабинет" "accounts:profile" user.pk %}
    {% breadcrumb "Настройки аккаунта" "accounts:update" user.pk %}
{% endblock %}
{% render_breadcrumbs %}
<h1>Редактирование профиля</h1>
<form enctype="multipart/form-data" method="post" action="">
    {%  csrf_token %}
    {{ form.as_p }}


    <p><button type="submit">Сохранить</button></p>
</form>

{% endblock content %}