{% extends "base_generic.html" %}
{%load i18n%}

{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Блог" "blogapp:home" %}
    {% breadcrumb "Личный кабинет" "accounts:profile" user.pk %}
{% endblock %}
{% render_breadcrumbs %}


<img src="{{user.get_photo_url}}" width="500" height="400">

<p>{{user.first_name}}</p>

<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.email}}</p>
<p>{{user.phone}}</p>
<p>{{user_subs}}</p>
 {% if Sub == True %}
<a href="{% url 'accounts:subscribers_add' user.pk %}" class="btn btn-outline-primary">Отписаться</a>
{%else%}
<a href="{% url 'accounts:subscribers_add' user.pk %}" class="btn btn-outline-primary">Подписаться</a>
{%endif%}


<a href="{% url 'blogapp:list' %}" class="btn btn-outline-primary">Список моих статей</a>
{%endblock%}