{% extends 'base_generic.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "Форма регистрации" %}</h1>

<div class="row">
    <div class="col-md-4">
        <form action="{{action}}" method="post"> {% csrf_token %}
            {{ form.as_p }}
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input"
                onclick="if (password1.type == 'text') (password1.type = 'password')
                if (password2.type == 'text') (password2.type = 'password')
                ;else (password1.type = 'text') (password2.type = 'text')">
                <label class="form-check-label">{% trans "Показать пароль" %}</label>
            </div>

        <button type="submit" class="btn btn-primary">{% trans "Регистрация" %}</button>
        </form>
    </div>
</div>
{% endblock %}