{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}<title>{% trans "Подписки" %}</title>{% endblock %}
{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% trans "Блог" as tstring%}
{% trans "Список подписок" as tstring2%}
{% block breadcrumbs %}
    {% breadcrumb tstring "blogapp:home" %}
    {% breadcrumb tstring2 "blogapp:create" article.slug %}
{% endblock %}
{% render_breadcrumbs %}
{% for usr in object_list %}
        <h1>{% trans "Подписки" %}</h1>
      <li class="list-group-item list-group-item-light" style="border: 1px solid #ddd; margin: 10px 200px; border-radius: 5px; padding: 10px 81px; list-style-type: none;background-color: #e3f2fd;">
          <div><img src="{{ usr.get_photo_url }}" style="margin: 5px 72px;display: block;max-width: 10%;" class="img-responsive thumbnail " alt="img">
                  <p style="margin-left: 72px;">{{ usr.email }}</p></div>

      </li>


{%endfor%}

{% endblock %}