
{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}<title>{% trans "Удаление статьи" %}</title>{% endblock %}
{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% trans "Блог" as tstring%}
{% trans "Удаление статьи" as tstring2%}
{% block breadcrumbs %}
    {% breadcrumb tstring "blogapp:home" %}
    {% breadcrumb tstring2 "blogapp:delete" article.slug %}
{% endblock %}
{% render_breadcrumbs %}
{% block content %}

<h1>{% trans "Удалить статью" %}</h1>

<p>{% trans "Вы уверены,что хотите удалить статью: " %}{{ object }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Удалить." />
</form>

{% endblock %}