{% extends "base_generic.html" %}
{% block title %}<title>Список постов</title>{% endblock %}
{% block content %}
<form method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Поиск"/>
     </form>
    <h1 style="padding: 10px 507px;">Список постов</h1>

    {% if article_list %}
    <ul>


      {% for art in article_list %}
      <li class="list-group-item list-group-item-light" style="border: 1px solid #ddd; margin: 10px 200px; border-radius: 5px; padding: 10px 81px; list-style-type: none;background-color: #e3f2fd;">

        <div><a style="padding: 75px;" href="{{ art.get_absolute_url }}">{{ art.name }}</a></div>

             {% if art.preview %}
            <img src="{{art.preview.url}}" style="margin: 0 auto;display: block;max-width: 80%;">
            {%endif%}

          <div><img src="{{ art.author.get_photo_url }}" style="margin: 5px 72px;display: block;max-width: 10%;" class="img-responsive thumbnail " alt="img">
                  <a style="padding: 75px;" href="{{ art.author.get_absolute_url }}">{{ art.author }}</a></div>

      </li>
      {% endfor %}


    {% else %}
      <p>Список постов пуст</p>
    {% endif %}</ul>
{% endblock %}