
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb "Блог" "blogapp:home" %}
    {% breadcrumb "Удаление статьи" "blogapp:delete" article.slug %}
{% endblock %}
{% render_breadcrumbs %}
{% block content %}

<h1>{% trans "Удалить проект" %}</h1>

<p>{% trans "Вы уверены,что хотите удалить статью: " %}{{ object }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Удалить." />
</form>

{% endblock %}