
{% extends "base_generic.html" %}
{% load i18n %}
{% block title %}<title>{% translate "Список постов" %}</title>{% endblock %}
{% block content %}
<form method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Поиск"/>
     </form>
    <h1 style="padding: 10px 507px;">{% translate "Список постов" %}</h1>

    {% if article_list %}
    <ul>


      {% for art in article_list %}
      <li class="list-group-item list-group-item-light" style="border: 1px solid #ddd; margin: 10px 200px; border-radius: 5px; padding: 10px 81px; list-style-type: none;background-color: #e3f2fd;">

        <div style="margin: 50px;"><a href="{{ art.get_absolute_url }}">{{ art.name }}</a>
            <p>{{art.descr}}</p>
            <p>{% translate "Рейтинг"  %}: {{art.rating}}</p>
            <p>{% translate "Дата изменения"  %}: {{art.date_edit}}</p>
          <div><img src="{{ art.author.get_photo_url }}" style="display: block;max-width: 10%;" class="img-responsive thumbnail " alt="img">
               <p>{{ art.author }}</p>  </div>
              <a href="{{ art.get_absolute_url }}" class="btn btn-outline-primary">{% translate "Подробнее" %}</a></div>


      </li>
      {% endfor %}


    {% else %}
      <p>{% translate "Список постов пуст" %}</p>
    {% endif %}</ul>
{% endblock %}