{%load menu_tags%}
{% headermenu as header %}
{% footerermenu as footer %}
{%load i18n%}
<div class="container">

    <nav class="navbar fixed-bottom navbar-expand-lg navbar-light container" style="background-color: #e3f2fd;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li>
                    {% for menu in footer %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ menu.url }}" target="{{ menu.target }}">{{ menu.name }}</a>
                </li>
                {% endfor %}


                {% if user.is_authenticated%}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:logout'%}">{% trans "Выйти" %}</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:login'%}">{% trans "Войти" %}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:register'%}">{% trans "Регистрация" %}</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>

</div>