{%load menu_tags%}
{% headermenu request as header %}
{% footerermenu request as footer %}
{%load i18n%}
<div class="container">

    <nav class="navbar fixed-bottom navbar-expand-lg navbar-light container" style="background-color: #e3f2fd;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li>
                    {% for menu in footer %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ menu.url }}" target="{{ menu.target }}">{{ menu.name }}</a>
                </li>
                {% endfor %}


                {% if user.is_authenticated%}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:logout'%}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:login'%}">Войти</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'accounts:register'%}">Регистрация</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto my-4">
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>