{% load menu_tags %}
{% load i18n %}

{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">{% trans "Первая" %}</a>
    {% if page_obj.previous_page_number != 1 %}
      <a href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "Предыдущая" %}</a>
    {% endif %}
  {% endif %}

  {% trans "Страница" %} {{ page_obj.number }} {% trans "из" %} {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}">{% trans "Следующая" %}</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">{% trans "Последняя" %}</a>
  {% endif %}
{% endif %}





